body{
    background-color: rgb(181, 139, 99);
}

#wrapper{
    width: 100%;
    height: 196vh;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    'sc1 sc2 sc3'
    'mn mn mn'
    'ft ft ft';
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.8fr 0.4fr 3fr 1fr 1fr;
    gap: 1vh;
    backdrop-filter: blur(5px);
}

header, nav,main,section,aside,footer {
    outline: 2px rgb(116, 77, 41) solid;
    border-radius: 2vh;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
    background-color: rgb(246, 239, 232);
}

header{
    grid-area: hd;
    background-image: url('../Img/cafeutsida.jpg');
    background-size: cover;
    background-position: 10px;
    opacity: 0.8;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
    letter-spacing: 1vw;
    display: flex;
    justify-content: space-evenly;
}

h1{
    margin: auto;
    padding-bottom: 4vh;
    padding-top: 4vh;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgb(165, 181, 141, .8);
    border-radius: 5px;
}

nav{
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a{
    padding-bottom: 4vh;
    padding-top: 4vh;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgb(181, 139, 99);
    border-radius: 1vh;
    text-decoration: none;
    color:white;
    opacity: .8;
    margin: auto;
    transition: 0.3s;
}

a:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
}

main{
    grid-area: mn;
}

#section1{
    grid-area: sc1;
}

#section2{
    grid-area: sc2;
}

#section3{
    grid-area: sc3;
}

footer{
    grid-area: ft;
}


/* Varm brun rgb(181 139 99) kombinerad med mild creme rgb(246 239 232) och mjuk grön rgb(165 181 141) för en naturlig och inbjudande känsla.
LOGA
En stiliserad kaffekopp med en solstråle eller ett leende som symboliserar glädje, värme och gemenskap.

Startsida (Landing page – Grid)


Välkomsttext och kort presentation av Kafé Solglimt


Stora bilder på kaffe, bakverk och kafémiljön


Snabblänkar till meny och kontakt


Menysida (Cards – Flex i Grid)


Bilder och beskrivningar av drycker, bakverk och lunchalternativ


Markering av veganska och glutenfria val


Knappar för “Se hela menyn” eller “Beställ catering”


Om oss (Grid)


Kaféets historia och vision


Presentation av ägare och personal


Karta, öppettider och kontaktformulär

Kravspecifikation
Layouten på alla sidor skall göras främst med GRID. Du skall göra 3 sidor på din webbsida.

3 olika skisser över de olika sidorna
Olika layout på sidor men konsekvent header + navigation 
En landing page - Startsida (GRID)
En cardssida (t.ex. anställda, företagets produkter eller liknande) FLEX (i GRID) ex. till höger →
Den tredje sidan skall lösas med GRID
Vanliga mappstrukturen i kursen. Undermappar css, img, misc.(misc ny, placera filer som inte passar andra mappar)
Html-dokument i projektets huvudmapp. Passande filnamn. (inga nordiska tecken samt mellanslag)
Totalt tre html-sidor, varav en landing page med namnet index.html
Använd gärna AI-genererad text till paragrafer/rubriker.
Anpassa bilder/text så att de passar ihop. Originalfiler (ex. .psd, oredigerad jpg etc placeras i misc mappen) redigerade bilder i img.
Lagermasker och justeringslager ska användas på minst en bild (t.ex. frilägga ansikte). Photoshop/Illustrator-filen läggs i misc-mappen. I img-mappen till projektet lägger ni den exporterade bilden som används på hemsidan (samt övriga bilder ni har använt). 
