#wrapper{
    width: 100%;
    height: 196vh;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'mn mn mn as'
    'sc1 sc2 sc3 as'
    'ft ft ft ft';
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 0.8fr 0.4fr 3fr 1fr 1fr;
    gap: 1vh;
    backdrop-filter: blur(5px);
}

header,nav,main,section,aside,footer {
    outline: 2px rgb(181, 139, 99) solid;
    border-radius: 1vh;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
    background-color: rgb(246, 239, 232);
}

header{
    grid-area: hd;
}

nav{
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a{
    padding-bottom: 4vh;
    padding-top: 4vh;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgb(80, 80, 80);
    border-radius: 1vh;
    text-decoration: none;
    color:white;
    opacity: .8;
    margin: auto;
    transition: 0.3s;
}

a:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
}
main{
    grid-area: mn;
}

#section1{
    grid-area: sc1;
}

#section2{
    grid-area: sc2;
}

#section3{
    grid-area: sc3;
}


aside{
    grid-area: as;
}

footer{
    grid-area: ft;
}
