html{
    overflow: hidden;
    height: 100%;
}

body{
    height: 100%;
    background: #B58B63;
    background: linear-gradient(180deg,rgba(181, 139, 99, 1) 0%, rgba(231, 255, 158, 1) 100%);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    scrollbar-width: none;
}

.head{
    width: 100%;
    height: 20vh;
    min-height: 300px;
    background-image: url('../Img/cafeutsida.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    outline: 10px rgb(0, 0, 0) solid;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
}

.titel{ 
    margin: 0;
    padding: 4vh 18vw;
    background-color: rgba(165, 181, 141, 0.8);
    border-radius: 40px;
    box-sizing: border-box;
    gap: 10px;
    white-space: nowrap;
    display: block;
    text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
    letter-spacing: 0.5vw;
    font-size: clamp(3rem, 7vw, 4rem);
    outline: 2px rgb(116, 77, 41) solid;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
}

.navig{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    outline: 2px rgb(116, 77, 41) solid;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
    background-color: rgb(246, 239, 232);
    box-sizing: border-box;
    margin-top: 0;
    padding: 20px 0;
}

#loga{
    position: absolute;
    top: 0px;
    right: 95vw;
    width: 200px;
    height: 100px;
    width:85px;
    height: auto;
}

h2{
    position: absolute;
    top: 7px;
    right: 62vw;
    width: 600px;
    height: 100px;
    font-weight: 100;
}

.navtext{
    padding: 12px 4vw;
    border-radius: 1vh;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2vw;
    font-weight: 500;
}

.navtext:hover{
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(223, 166, 113);
}

.wrapper{
    max-width: 100%;
    margin: auto;
    padding: 20px;
    display: grid;
    gap: 10px;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

#wrp1{
    max-height: 150vh;
    grid-template-areas: 
    'mn mn mn'
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#wrp2{
    max-height: 140vh;
    grid-template-areas:
    'sc1 sc2 sc3'
    'mn mn mn' ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 3fr ;
}

#wrp3{
    max-height: 100vh;
    grid-template-areas:
    'sc1 mn mn' 
    'sc2 mn2 mn2';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
}

#section3-1,#section3-2,main,section,aside {
    outline: 2px rgb(116, 77, 41) solid;
    border-radius: 2vh;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
    background-color: rgb(255, 224, 192);
    padding: 20px;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1vw;
}

.mainmn{
    grid-area: mn;
    min-height: 300px;
    
}

.mntitel1{
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1vw;
}
#mntitel3{
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    border-radius: 2vh;
    outline: 2px rgb(116, 77, 41) solid;
    box-shadow: 0px 5px 0px 0px rgb(165, 181, 141);
    background-color: rgb(255, 255, 255);
    padding: 20px 2vw;
}
#mntext1{
    font-size: large;
    letter-spacing: 0;
    padding: 12px 6vw;
    text-wrap: stable;
    text-align: center;
}


#kaffebonor{
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 2vh;
    filter: opacity(.5);
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.favoritcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.favtext{
    color: rgb(0, 0, 0);
    transition: 0.3s;
    display: inline-block;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1vw;
}
.favtext:hover{
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(223, 166, 113);
}
.favimg{
    height: 300px;
    padding: 10px;
    border-radius: 2vh;
    width: 80%;
    object-fit: cover;
}

#scenicimg{
    border-radius: 2vh;
    height: 25%;
    width: 100%;
    object-fit: cover;
    
}

#main3-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: mn2;
    min-height: 300px;
}

.maincont{
    margin: auto;
}

#main2-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section2-n{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: auto;
}

.seccont{
    margin: auto;
    margin-top: 0;
}

.menytitel{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1vw;
}

.menyimg{
    outline: 2px rgb(116, 77, 41) solid;
    display: block;
    margin: auto;
    margin-bottom: 0;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 2vh;
    object-fit: cover;
}

#section3-1{
    grid-area: sc1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer{
    outline: 6px rgb(0, 0, 0) solid;
    background-color: rgb(66, 52, 38);;
    grid-area: ft;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footcont{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.ftlink{
    color: #ffffff;
}